
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* header{font-family: Roboto;} */
.navbar{
background-color: white;
width :100%;
margin-bottom: 100px;
display: flex ;
justify-content: space-around;
align-items: center;
top: 0%;
position: fixed;
padding: 10px;
z-index: 999;



    
} 
.image1{
    font-size: 34px;
line-height: 68px;
height: 33px;
width :30%;

padding: 10px;

}
.liste{
    display: flex;
    text-decoration: none;
    height: 33px;
    justify-content: center;
    width: 120px;
    
}
.liste a{
    color: #ababab;
}

.aboutus{ color: mediumaquamarine;
    display : flex ; 
    margin: 10px;
    
}
 .career{
        display : flex ; 
        margin: 10px;
        text-decoration: none;
     
    }
.navbar a {
    text-decoration: none;
}

 .navbar a:hover{color: mediumaquamarine;}

 .subliste {
    text-decoration: none;
    list-style: none;
    display: none;
    text-align: left;
    width: 220px;
    height: 220px;
    position: absolute;
    margin: 0 0 0 --100px;
    padding: 10px 0 0 0;
    top: 30px;
    bottom: -220px;
    right: 15.3px;
    left: 0px;
    z-index: 1;
    cursor: pointer;


 }

li:hover .subliste{
    display: block;
    margin-left: -100px;
    
    background-color: #ffffffff;
    box-shadow: -1px 5px 13px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 5px 13px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 5px 13px -2px rgba(0,0,0,0.75);
    
 }
 a:hover .subliste{
    color: mediumaquamarine;
   
 }

 .subliste a {
    line-height: 42px;
    font-size: 15px;
    
    height: 42px;
    width: 200px;
    padding: 12px 16px 12px 16px;
   

 }

.departements{
   
    margin: 10px;
    position: relative;
    display: inline-block;
   height: 30px;
   width: 105px;
   padding: 0 9px 0 9px;
  
}

 header{margin-top: 100px;}
 
 .healthcare {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px 252px 60px 252px;
 }

 .abbes{
    font-family: Work Sans;
    font-size: 34px;
    font-weight: 300 ;
    /* line height: 44px; */
    margin: 34px 0 34px 0;
    color: #00b39b
    
 }
.parag {
    display: flex;
    justify-content: space-around;
    height: 309px;
    width: 1015px;
   
    padding: 0 20px 0 20px;
    /* position: relative; */
    

}
.parag p{
    font-family: Roboto;
    margin: 13px 0 13px 0;
    height: 112px;
    width: 477px;
    color: #747474;
    font-size: 16px;
    line-height: 28px;
}
.block {
    display: flex;
    justify-content: space-between;
    margin: -150px 252px 40px 202px;
    padding: 0 20px 0 20px;
    width: 75%;


}

.block h6{

    font-size: 30px;
    font-family: work sans;
    margin-top: -10px;
    font-weight: 500;

}
.patient{
    background-color: #00ccb1;
    color: aliceblue;
    
    width: 311px;
    height: 345px;
    padding: 32px 32px 0px 32px; 
    border-radius: 10px;
    font-family: work sans;
    font-weight: 300;
    line-height: 29px;
    font-size: 16px;

    
}
.doctor{
    background-color: #3d83df;
    color: aliceblue;
    margin: 0 20px 0 20px;
    width: 311px;
    height: 345px;
    padding: 32px 32px 0px 32px;
    border-radius: 10px;
    font-family: work sans, Arial, sans-serif;
    font-weight: 300;
    line-height: 29px;
    font-size: 16px;
}
.clinic{
    background-color: #1b2734;
    color: aliceblue;
    margin: 0 20px 0 20px;
    width: 311px;
    height: 345px;
    padding: 32px 32px 0px 32px;
    border-radius: 10px;
    font-family: work sans;
    font-weight: 300;
    line-height: 29px;
    font-size: 16px;
}



.patient select {
    background-color: #00ccb1;
    border: none;
    color: white;
    margin-top: 50px;
    text-decoration: underline;
    cursor: pointer;

}
.patient select option{
background-color: white;
color: black;

}  

.doctor select {
   background-color: #3d83df;
    border: none;
    color: white;
    margin-top: 50px;
    text-decoration: underline;
}

.doctor select option{
background-color: white;
color: black;


}  
.clinic select {
  background-color: #1b2734;
     border: none;
     color: white;
     margin-top: 20px;
     text-decoration: underline;
 }
 
 .clinic select option{

 background-color: white;
 color: black;
 
 }  
 .block p{
    font-weight: 300;
    font-size: 24px;
 }
 .block select{
    font-weight: 300;
    font-size: 24px;
 }

 

 .container2{
    height: 157px;
    margin: 100px 180px 100px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain1{
    width: 250px;
    height: 157px;
    font-family: "work sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 34px;
    color: #00b39b;
}
.contain2{
    width: 650px;
    height: 157px;
    margin-left: 50px;
    display: grid;
    grid-template-rows: 52px 52px 52px;
    grid-template-columns: 162px 162px 162px 75px 87.5px;
}
.im1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}
.im2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}
.im3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}
.im4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}
.im5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.im6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.im7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.im8{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.im9{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.im10{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;}




 .improve{
    width: 100%;
 }
 .improve h5{
    color: #00ccb1;
    font-family: work sans;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 39px;
    text-align: center;
 }
.improve p{
    font-family: roboto;
    font-size: 14px;
    line-height: 24px;
    height: 72px;
    width: 460px;
    text-align: center;
    margin: 0 auto;
    
}
.pays{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.subpays{
    margin-left: 25px;
    width: 331px;
    height: 361px;
    border-radius: 10px;
}
.subpays img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.subpays div{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.subpays:hover{
    cursor: pointer;
    box-shadow: 1px 9px 58px -4px rgba(0,0,0,0.36);
-webkit-box-shadow: 1px 9px 58px -4px rgba(0,0,0,0.36);
-moz-box-shadow: 1px 9px 58px -4px rgba(0,0,0,0.36);
}
.subpays div p{
    font-family: Roboto;
    font-size: 18px;
    line-height: 30px;
    color: #747474;
   margin-top: 0px;
   margin-left: -25px;
}
.subpays button{
    height: 30px;
    width: 103px;
    font-family: Roboto;
    font-size: 10px;
    line-height: 10px;
    background-color: #3d83df;
    font-weight: 700;
    color: #ffffffff;
    border: none;
  margin-right: -30px;
  border-radius: 5px;
}
.Bogota{
    margin-left: 240px;
    margin-top: 40px;
}

.extremite{
    display: flex;
    flex-direction: column;

}
.extremite p{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: work sans;
    color: #333333;
}
.extremite button{

    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: roboto;
    line-height: 12px;
    color: white;
    background-color: #3d83df;
    border: none;
    border-radius: 2px;
    width: 210px;
    height: 40px;
    margin: 0 auto;
    text-transform: uppercase;
}
footer{
    margin-top: 120px;
}
footer p{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-family: roboto;
    line-height: 12px;
    color:#ababab;
    border: none;
    
}
footer p a{ color: #3d83df;
    text-decoration: none;

}
footer p a:hover{
    text-decoration: underline;
}